<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- what's seen in the web tab -->
    <title>AWESOMENESS</title>
<!--    <link rel="stylesheet" href="{{url_for('Static', filename='CSS/StarWars_webpage.css')}}">-->
</head>
now = datetime.now()
another_variable = now.strftime('%m/%d/%Y %I: %M %S %p')
<!-- HEADER -->
<body>
<!--<link rel="stylesheet" href="../StarWars_webpage.css" type="text/css">-->
    <h1 align="center", style="color: darkmagenta">
        STAR WARS AWESOMENESS</h1>
    <p >Star Wars is a great place to escape to. Here is a
        simple web site that provides information about only the
        three Trilogies and not the stand alone movies. </p>
    <p>Oh, I also have to provide the time</p>
    <h4 align="center"><a><v>'+another_variable+'</v></a></h4>
    <!-- ALL THREE TRILOGIES LISTED -->
    <h2>Skywalker Star Wars Movies with release year</h2>
    <!-- ordered list for ALL NINE Star Wars trilogy movies -->
        <ol style="list-style-type: armenian">
        <p>Prequel Trilogy  Movies</p>
        <li> The Phantom Menace (1999)</li>
        <li> The Attack of the Clones (2002)</li>
        <li> Revenge of the Sith (2005)</li>
        <p>Original Trilogy  Movies</p>
        <li> A New Hope (1977)</li>
        <li> The Empire Strikes Back (1980)</li>
        <li> The Return of the Jedi (1983)</li>
        <p>Final Trilogy Movies </p>
        <li> The Force Awakes (2015)</li>
        <li> The Last Jedi (2017)</li>
        <li> The Rise of Skywalker (2019)</li>
    </ol>
    <!-- SET THE RECORD STRAIGHT -->
    <h3 id="potato">Lets set the record straight</h3>
    <p id="potato">Each Star Wars movie is broken into a one of several
        categories based on which trilogy it belongs to. In
        two cases there are movies (not listed) which are part
        of and connected to the Star Wars Universe but are not
        one of the three movies in one of the three trilogies.</p>
    <p id="potato">This is the part where I rant for sentence after sentence
        about Star Wars this or that, after all, this is a web
        page dedicated to Star Wars.  Naturally this means that
        I must have, and express, a strong opinion about
        something. Okay, not so much; this is simply an assignment
        for my Python course and I needed something of interest
        (not devotion) to create lists and other things around.</p>
<!-- FIGHTING FORMS TABLE -->
<table cellpadding="5" border="10" style="float: right">
    <caption style="color:cadetblue">FIGHTING FORMS</caption>
    <tr style="color: cadetblue">
        <th>FORM</th>
        <th>SYMBOL</th>
        <th>FAVOR</th>
    </tr>
    <tr>
        <td id="table_left_text">I: Shii-Cho</td>
        <td><img src="../Images/shii-cho.png" alt="Shii-Cho"></td>
        <td id="table_right_text">Defensive</td>
    </tr>
    <tr>
        <td id="table_left_text">II: Makashi</td>
        <td><img src="../Images/makashi.png" alt="Makashi"></td>
        <td id="table_right_text">vs Lightsaber user</td>
    </tr>
    <tr>
        <td id="table_left_text">III: Soresu</td>
        <td><img src="../Images/soresu.png" alt="Soresu"></td>
        <td id="table_right_text">Defensive</td>
    </tr>
    <tr>
        <td id="table_left_text">IV: Ataru</td>
        <td><img src="../Images/ataru.png" alt="Ataru"></td>
        <td id="table_right_text">Aggressive</td>
    </tr>
    <tr>
        <td id="table_left_text">V: Shien</td>
        <td><img src="../Images/shien.png" alt="Shien"></td>
        <td id="table_right_text">Offensive</td>
    </tr>
    <tr>
        <td id="table_left_text">VI: Niman</td>
        <td><img src="../Images/niman.png" alt="Niman"></td>
        <td id="table_right_text">Balanced</td>
    </tr>
    <tr>
        <td id="table_left_text">VII: Juyo</td>
        <td><img src="../Images/juyo.png" alt="Juyo"></td>
        <td id="table_right_text">Ferocity</td>
    </tr>
</table>
    <!-- FIRST TRILOGY -->
    <h2>The Prequel Trilogy</h2>
    <p>Character / Actor / iMDB database link</p>
    <!-- unordered list for prequel trilogy main characters
         with IMDb links -->
        <ul style="list-style-type: square">
        <li>Padme Amidala / Natalie Portman /
            <a href="https://www.imdb.com/name/nm0000204/?ref_=nv_sr_srsg_0"
               target="_blank">Natalie Portman IMDb</a></li>
        <li>Obi Wan-Kenobi / Ewan McGregor /
            <a href="https://www.imdb.com/name/nm0000191/?ref_=nv_sr_srsg_0"
               target="_blank">Ewan McGregor IMDb</a></li>
        <li>Anikan Skywalker / Hayden Christensen /
            <a href="https://www.imdb.com/name/nm0159789/?ref'_=fn_al_nm_1"
               target="_blank">Hayden Christensen</a></li>
        <li>Yoda / Frank Oz /
            <a href="https://www.imdb.com/name/nm0000568/?ref_=fn_al_nm_1"
               target="_blank">Frank Oz IMDb</a></li>
        <li>Clone Troopers / Dee Bradley Baker /
            <a href="https://www.imdb.com/name/nm0048389/?ref_=nv_sr_srsg_0"
               target="_blank">Dee Bradley Baker IMDb</a></li>
    </ul> <!--end of "first" trilogy list-->
    <!-- ORIGINAL TRILOGY -->
    <h2>The Original Trilogy</h2>
    <p>Character / Actor / iMDB database link</p>
    <!-- unordered list for original trilogy main characters
         with IMDb links -->
        <ul style="list-style-type: square">
        <li>Leia Organa / Carrie Fisher /
            <a href="https://www.imdb.com/name/nm0000402/?ref_=fn_al_nm_1"
               target="_blank">Carrie Fisher IMDb</a></li>
        <li>Luke Skywalker / Mark Hamill /
            <a href="https://www.imdb.com/name/nm0000434/?ref_=nv_sr_srsg_0"
               target="_blank">Mark Hamill IMDb</a></li>
        <li>Han Solo / Harrison Ford /
            <a href="https://www.imdb.com/name/nm0000148/?ref_=nv_sr_srsg_0"
               target="_blank">Harrison Ford IMDb</a></li>
        <li>Chewbacca / Peter Mayhew /
            <a href="https://www.imdb.com/name/nm0562679/?ref_=tt_cl_t13"
               target="_blank">Peter Mayhew IMDb</a></li>
    </ul> <!--end of "second" trilogy list-->
    <!-- FINAL TRILOGY -->
    <h2>The Final Trilogy</h2>
    <p>Character / Actor / iMDB database link</p>
    <!-- unordered list for crappy trilogy main characters
         with IMDb links -->
        <ul style="list-style-type: square">
        <li>Rey / Daisy Ridley /
            <a href="https://www.imdb.com/name/nm5397459/?ref_=tt_cl_t5"
               target="_blank">Daisy Ridley IMDb</a></li>
        <li>Kylo Ren / Adam Driver /
            <a href="https://www.imdb.com/name/nm3485845/?ref_=tt_cl_t4"
               target="_blank">Adam Driver IMDb</a></li>
        <li>Poe Dameron/ Oscar Isaac /
            <a href="https://www.imdb.com/name/nm1209966/?ref_=tt_cl_t7"
               target="_blank">Oscar Isaac IMDb</a></li>
        <li>Finn / John Boyega /
            <a href="https://www.imdb.com/name/nm3915784/?ref_=tt_cl_t6"
               target="_blank">John Boyega IMDb</a></li>
    </ul><!--end of third trilogy list-->
<!-- BUILD YOUR OWN LIGHTSABER -->
<h3>Build your own
    <a style="color: red">SITH</a> or <a style="color: blue">
        JEDI</a> lightsaber full of awesomeness</h3>
<p>Things you'll need to build a lightsaber</p>
<p>This list is alignment neutral until you get to the
    crystal</p>
<!-- unordered list: what's needed to build a lightsaber.
with links -->
<ul style="list-style-type: circle">
    <li>Emitter</li>
    <li>Lens</li>
    <li>Energy Cell</li>
    <li>Kyber crystal</li>
    <dt style="color: white"> : color dependent on alignment and skills. SMJ's was violet</dt>
    <li>spray paint (for a cool paint job courtesy of Sabine)</li>
    <p><a href="https://ultrasabers.com/build-your-own-lightsaber/?gclid=CjwKCAjw-YT1BRAFEiwAd2WRto_'
                        'hzuoFisLUxDQhX3UPQqHdmc9HJdn873p6ZTcA_1e9jR44BEGUghoCnVQQAvD_BwE"
          target="_blank">THE Combat Lightsaber Specialist !!</a></p>
    <p><a href="https://www.instructables.com/id/Building-a-Lightsaber/"
          target="_blank">Build a pretty cool laser sword</a></p>
</ul>
<!-- USER DONATION FORM -->
<form action="/StarWars_webpage.py" method="post" style="border:5px solid #CCCCCC">
    <!-- User First / Last Name -->
    <ul class="for_form_unordered_list">
        <li>
            <label>Please enter your first and last name
            <input type="text" name="user_name"></label>
        </li>
        <!-- User Email Address -->
        <li>
            <label>Please provide your digit footprint (email)
            <input type="text" name="user_email"></label>
        </li>
        <!-- Testimonial TextArea -->
        <li>
            <label> Provide testimonial HERE !!
            <textarea rows="5" cols="30" name="text_field"></textarea></label>
        </li>
        <!-- Credit Card Type DropDown Menu -->
        <li style="vertical-align: bottom; padding-top: 5px">
            <label>$$ Please provide your Donation amount $$<input style="width: 50px" type="text" name="user_donate_amount"></label>
            <datalist id="Credit Card Type">
                <option value=" "> </option>
                <option value="MasterCard">MasterCard</option>
                <option value="Visa">Visa</option>
                <option value="Discover">Discover</option>
                <option value="AMEX">AMEX</option>
                <option value="BitCoin">BitCoin</option>
                <option value="GreenMoney">GreenMoney</option>
                <option value="Any">I'll literally take anything</option>
            </datalist>
            <label>Payment Type<input id="Card Type" name="user_card_type" list="Credit Card Type"></label>
        </li>
        <!-- SUBMIT / RESET -->
        <div>
            <input type="submit" name="all_done" class="submit" value="Press Here to Donate" onclick="">
            <input type="reset" name="reset" class="reset" value="Press Here to Reset Fields">
        </div>
    </ul>
</form><!-- DISCLAIMER -->
<dl id="disclaimer_text" style="font-size: xx-small; float: bottom" align="right", style="color: lightgray">Disclaimer:
    <dt> really small text from the law division</dt>
    <dt> more really small text that says stuff</dt>
    <dt> we wish this could be small and harder to read</dt>
    <dt> seriously, this really small text </dt>
    <dt> don't bother yourself with this stuff</dt>
</dl>
<!-- CLOSE ALL -->
</body> </head> </html>
<!--app.run(host='0.0.0.0', port= 8080)-->
